:root {
    --primarycolor: rgba(53, 95, 133, 100);
    --secondarycolor: rgba(244, 247, 248, 100);
    --thirdcolor: #9ABAD8;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--secondarycolor);
}

/*section carrousel + header */

header {
    background: linear-gradient(180deg, var(--primarycolor) 0%, var(--secondarycolor)100%);
}

.triche {
    padding: 4vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--secondarycolor);
    opacity: 0.7;
}

/* barre de recherche */

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(178, 206, 232);
    /* fond de la barre de recherche */
    color: black;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    transition: background-color 0.5s, box-shadow 0.5s;
}

/* un effet de survol */
.search-input:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgba(83, 83, 83, 0.5);
}

.search-input:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgba(126, 147, 179, 0.8);
}

.futursearchbar {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.search-bar-visible {
    transform: translateY(0);
    opacity: 1;
}
/* .toggleOff {
    visibility: hidden;
} */

/* fin barre de recherche */

.icon {
    height: 4rem;
    margin: 1rem 1rem;
    /* transition: transform 0.3s ease-in-out; */
    transition: 0.2s ease-in-out;
}


.icon:hover {
    filter: drop-shadow(2px 2px 3px #999999);
}

.theContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9vh;
}

.carousel {
    width: 70vw;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: var(--thirdcolor) solid;
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theContainer button {
    margin: 1rem;
    background-color: var(--thirdcolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in;
}

.theContainer button:hover {
    background-color: var(--primarycolor);
}

.searchButton {
    cursor: pointer;
}

/*fin section carrousel + header */

main {
    background-color: var(--secondarycolor);
}

/*section grid */
.off {
    display: none;
}

.cards {
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
}

.grid-photo {
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    object-fit: cover;
}

article {
    display: inline-block;
    overflow: hidden;
}




.grid {
    width: 100%;
    display: grid;
    grid-template-areas:
        "temp1 temp1 temp2 temp3 temp3"
        "temp1 temp1 temp2 temp3 temp3"
        "temp5 temp4 temp2 temp7 temp7"
        "temp5 temp4 temp2 temp7 temp7"
        "temp5 temp6 temp6 temp7 temp7";

    /*    grid-auto-rows: 150px; */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    overflow: hidden;
    object-fit: fill;
    margin-top: 6px;
}



.grid-photo:hover {
    transform: scale(1.05);
    object-fit: cover;
    overflow: hidden;
    box-shadow: inset 0 0 0 var(--spr, calc(.5*(1 - var(--hov))*var(--l))) hsl(0, 0%, 40%);
    mix-blend-mode: multiply;
    transition: 3s;


}


.temp1 {
    grid-area: temp1;
}

.temp2 {
    grid-area: temp2;
}

.temp3 {
    grid-area: temp3;
}

.temp4 {
    grid-area: temp4;
}

.temp5 {
    grid-area: temp5;
}

.temp6 {
    grid-area: temp6;
}

.temp7 {
    grid-area: temp7;
}



/*fin section grid */

/* cartes déroulantes */

.display {
    display: grid;
    grid-template-areas:
        "name age"
        "cit cit "
        "obj grid-icon"
        "hobbies grid-icon";
    width: 100vw;
}

.card {
    display: none;
}

.margin-0 {
    margin: 0;
}

h2 {
    grid-area: name;
    max-width: 25%;
    background-color: red;
    margin: 0;
    padding: 0;
}

h3 {
    grid-area: obj;
    background-color: green;
}

.age {
    grid-area: age;
    max-width: 100%;
    background-color: blue;
}

.cit {
    grid-area: cit;
    background-color: antiquewhite;
}

.hobbies {
    grid-area: hobbies;
    background-color: aqua;
}


.grid-icon {
    width: 20px;
    height: 20px;
    grid-area: grid-icon;
}


/* fin cartes déroulantes */

/* Début Footer */
footer {
    background-color: rgb(154, 186, 216);
    padding: 1rem;
    color: whitesmoke;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

/* Fin Footer */

/* Responsive */

@media screen and (max-width: 660px) {

    /* Carousel */

    .carousel {
        width: 100vw;
    }

    /*********Buttons******/
    #prevButton,
    #nextButton {
        display: none;
    }

    /***** Cartes *****/
    .cards {
        width: 95vw;
        margin: 0 auto;
        margin-top: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "temp1 temp1"
            "temp2 temp3"
            "temp4 temp5"
            "temp6 temp7"
    }

    .grid-photo {
        height: 25vh;
        object-fit: cover;
        mix-blend-mode: normal;
    }

    .grid-photo:hover {
        transform: none;
        box-shadow: none;
    }
}