:root {
    --primarycolor: rgba(53, 95, 133, 1);
    --secondarycolor: rgba(244, 247, 248, 1);

}

body {
    padding: 0;
    margin: 0;
}

/*section carrousel + header */
header {
    background: linear-gradient(180deg, var(--primarycolor) 0%, var(--secondarycolor)100%);
}

nav {
    height: 5vh;
}

.logo {
    width: 100px;
}

.carrousel {
    height: 95vh;
}

/*fin section carrousel + header */